body {
  background: #27292c;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 1.8rem;
  color: aliceblue;
}

h1 {
  margin-top: 2.2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

footer {
  border-top: 1px solid #000;
  margin-top: 3rem;
  padding: 3rem;
  text-align: center;
  margin: auto;

}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;  
}
.nav-list>li:hover {
  color: blanchedalmond;
  transition: all 0.3s ease ;
  cursor: pointer;
}


.navbar {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}