@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background: #282d35;
  font-family: "Inter", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: aliceblue;
}

h1 {
  margin-top: 2.4rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

footer {
  border-top: 1px solid #000;
  margin-top: 3rem;
  padding: 3rem;
  text-align: center;
  margin: auto;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.nav-list > li:hover {
  color: blanchedalmond;
  transition: all 0.3s ease;
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

/* 02;00 */

.new-nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  background: #21222a;
  padding: 2rem;
  cursor: pointer;
}

.new-nav > span {
  color: #61dafb;
  font-size: 1.3rem;
  font-weight: 700;
}

.new-nav:hover * {
  text-decoration: wavy;
  color: #6180fb;
  transition: all 0.4s ease-in;
}

.new-nav:hover img {
  transform: rotate(360deg);
  transition: transform 0.8s ease-out;
}

.new-main {
  padding: 60px 30px;
}

.new-main > ul {
  margin-top: 4rem;
  max-width: 38rem;
}

.new-main > ul > li {
  padding-block: 0.8rem;
  line-height: 1.2rem;
}

.new-main > ul > li::marker {
  color: #6180fb;
  font-size: 1.8rem;
  vertical-align: middle;
}

.new-main {
  align-items: center;
  background-image: url("/react.svg");
  background-repeat: no-repeat;
  background-size: auto 40%;
  background-position: 180% 65%;
  filter: grayscale(100%);

  /* animation: spin 2s linear infinite; */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
